.container__content{
    width: 100%;
    height: 100vh;

    margin-top: 20px;

    display: flex;
    flex-direction: column;

    align-items: center;
}

.content__cover > img{
    border-radius: 5px;
    width: 500px;
    min-width: 500px;
    height: 300px;
}
.content__title{
    margin-top: 20px;
    width: 500px;
    height: 50px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.content__description{
    margin-top: 15px;
    width: 500px;
    height: 400px;
}
.content__description > p{
    margin-top: 20px;
    color: rgb(128, 121, 121);
}
.container__go-back{
    margin-top: 20px;
    width: 500px;
    height: 50px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}